.activities-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.activities-container > div {
  flex: 0 0 calc(33.33% - 20px); /* Tamaño de las columnas */
  margin: 10px; /* Espacio entre las columnas */
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc; /* Borde para cada actividad */
  background-color: #ffffff;
  border-radius: 8px;
}

.activities-container h2 {
  width: 100%; /* Ancho completo */
  text-align: center; /* Centrado horizontal */
  font-size: 40px;
}

.activities-container h3 {
  margin-top: 0; /* Elimina el margen superior para los títulos */
}

.activities-container p {
  margin: 5px 0; /* Espacio entre los párrafos */
}

.activities-container span {
  margin-right: 5px; /* Espacio entre los elementos dentro de cada actividad */
}